[project]
	description = Sample rss reader
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexis Lecanu (ravenfeld)
[access "refs/for/refs/*"]
	read = group user/Alexis Lecanu (ravenfeld)
	push = group user/Alexis Lecanu (ravenfeld)
	label-Code-Review = -2..+2 group user/Alexis Lecanu (ravenfeld)
	label-Verified = -1..+1 group user/Alexis Lecanu (ravenfeld)
	rebase = group user/Alexis Lecanu (ravenfeld)
	removeReviewer = group user/Alexis Lecanu (ravenfeld)
	submit = group user/Alexis Lecanu (ravenfeld)
[access "refs/heads/*"]
	read = group user/Alexis Lecanu (ravenfeld)
	create = group user/Alexis Lecanu (ravenfeld)
	push = +force group user/Alexis Lecanu (ravenfeld)
	pushMerge = group user/Alexis Lecanu (ravenfeld)
[access "refs/tags/*"]
	push = +force group user/Alexis Lecanu (ravenfeld)
	pushTag = group user/Alexis Lecanu (ravenfeld)
	pushSignedTag = group user/Alexis Lecanu (ravenfeld)
